
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
        font-family: 'Roboto',sans-serif;

    margin:auto;
}
.navbar
{display: flex;
    height: 5rem;
    width:100%;
    background-color:#1A242f;
    color:white;
    position: fixed;
    padding: 0;
    flex-wrap: wrap;
}
.nav-right
{
    display: flex;
    margin-right: 4rem;
    justify-content: space-between;
    padding: 0.5rem;
            color:#B2B1B9;

}
.nav-right>i {
    padding: 0.3rem;

}
h1 .navbar{
    align-items: flex-start;
}
.where-watch{
    display: flex;
    padding: 3rem;
    font-family: 'Roboto',sans-serif;
    /* justify-content: space-between; */
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    margin:0;
}
.where-watch h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;

}
.where-watch p {
    font-size: 21px;
    font-weight: 300;
    line-height: 27px;

}
.fam-friendly{
    /* position: relative; */
background: rgb(2, 0, 36);
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 5, 10, 0.9839286056219363) 60%, rgba(45, 45, 45, 1) 70%);
/* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 7, 15, 0.9839286056219363) 86%, rgba(142, 147, 148, 1) 100%); */
    display: flex;
    padding:5rem;
    color:white
}
.fam-friendly h2{
     font-size: 36px;
     font-weight: 400;
     line-height: 1.3;

}
.fam-friendly p{
    font-size: 21px;
    font-weight: 300;
    line-height: 27px;
margin-top: 1rem;
}
.btn
{
    background-color: #0f79af;
    color: white;
    padding: 1rem 6rem;
    border-radius: 5px;
    margin-top: 2rem;
    font-size: 1.1rem;
    border-color: #0f79af;
    border: none;
}
/* .friendly-img */
/* {height:50px; */

    /* float: right; */
footer{
    background-color:#222831;
    text-align: center;
    padding: 2rem;
    font-size: 15px;
    color: #6C7A89;
    font-weight: 300;

}
.fam-friendly.reverse{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 5, 10, 0.9839286056219363) 60%, rgba(45, 45, 45, 1) 70%);
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 7, 15, 0.9839286056219363) 86%, rgba(142, 147, 148, 1) 100%); */
    display: flex;
    flex-direction: row-reverse;
    padding: 5rem;
    color: white
    
}
.fam-friendly.reverse div {
    margin-left:3rem;
}
.fam-friendly.fav{
    background: white;
    color: black;
}
h1{
    font-size: 2.8rem;
    font-weight: 300;
}
h5{
font-size: medium;
font-weight: 300;
margin-top: 15px;
margin-left: 80px;
}

a{
    text-decoration: none;
    color:#B2B1B9;
    font-size: 1.2rem;
    margin-left: 20px;
}
   

    img{
        margin-left: 50px;
    }